body {
    margin: 0;
    overflow: hidden;
}

#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background: white;
    animation: twinkle infinite linear;
}

@keyframes twinkle {
    from {
        transform: translateY(0) rotate(0deg);
        opacity: 0.8;
    }
    to {
        transform: translateY(-1000px) rotate(360deg);
        opacity: 0;
    }
}