@font-face {
    font-family: 'Pixelmania';
    src: url('Pixelmania.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* background: linear-gradient(0, #560c35, #303030); */
    background-color: #1a1a1a;
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.palavra{
    width: 25rem;
    height: 10rem;
    padding: 1rem;
    text-align: center;
    border-radius: 1.5rem;
    background-color: #a357ad;
    box-shadow: 0.2rem 0.2rem 0rem 0rem #5a305f;
}
.teclaLetra{
    width: 2rem;
    height: 2rem;
    margin: 0.1rem;
    cursor: pointer;
    border-radius: 4rem;
    background-color: #060e029b;
    border: 0.2rem #48404dcb solid;
    animation: teclaChange 5s linear infinite;
}
.situation{
    width: 25rem;
    height: 4rem;
    display: flex;
    align-items: center;
    border-radius: 4rem;
    margin-bottom: 0.5rem;
    flex-direction: column;
    justify-content: center;
    border: 4px solid #6571dc;
    background-color: #ffd500ea;
}
.jogadas{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.8rem;
    flex-direction: column;
    justify-content: center;
    border: 4px solid #6571dc;
    background-color: #ffd500ea;
    animation: jogadasChange 5s linear infinite;
}
.jogadasL{
    display: flex;
    flex-direction: row;
    font-family:'Pixelmania';
    font-size: 2rem;
    color: #882ac7;
    /* background-color: blue; */
}
.divLetrasBox{
    display: flex;
    flex-direction: row;
}
.divLetras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    font-family:'Pixelmania';
    font-size: 2rem;
    color: #882ac7;
    background-image: url("./linha.png");
}
.forcaMan{
    width: 25rem;
    height: 10rem;
    margin-bottom: 0.5rem;
    border-radius: 2rem;
    padding: 0rem;
    border: 0.4rem solid #00000041;
    background-color: #23063d69;
    animation: coloresChange 5s linear infinite;
}
.canvas{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}
.perdeu{
    color: #0d0214cb;
    font-size: 2rem;
    animation: perdeu 0.5s linear infinite;
}
.reiniciar{
    width: 6rem;
    height: 2rem;
    border: 0.2rem solid #24003d;
    border-radius: 4rem;
    background-color: #6800a86d;
    color: #0d0214cb;
    font-size: 1rem;
    cursor: pointer;
}
@keyframes coloresChange {
    0%{
        box-shadow: 0px 0px 10px 10px #7c2222;
    }
    50%{
        box-shadow: 0px 0px 10px 10px #222f7c;
    }
    100%{
        box-shadow: 0px 0px 10px 10px #7c2222;
    }
}

@keyframes teclaChange {
    0%{
        color: #ff8181;
    }
    50%{
        color: #97a6ff;
    }
    100%{
        color: #ff8181;
    }
}
@keyframes jogadasChange {
    0%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
@keyframes perdeu {
    0%{
        margin-left: 3rem;
        color: #0700d0cb;
    }
    50%{
        margin-right: 4rem;
        color: #ab0909cb;
    }
    100%{
        margin-left: 3rem;
        color: #0700d0cb;
    }
}