html{
    background-color: #0f0d0d;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffffff;
}
.criptatorBox{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.criptatorTitle{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.textC{
    padding-left: 1rem;
    padding-right: 23rem;
    background-color: transparent;
}
.textD{
    padding-left: 4rem;
    padding-right: 14rem;
    background-color: transparent;
}
.textarea, .textareaD{
    resize:none;
    outline:none;
    color: #d7e60dc5;
    border-radius: 1rem;
    border: 1rem transparent solid;
    background-color: #252525b6;
}
.change{
    width: 4rem;
    height: 4rem;
    background-color: #0000009c;
    border-radius: 4rem;
}
.change>img{
    width: 4rem;
    height: 4rem;
}
.copiar{
    width: 6rem;
    height: 2rem;
    border-radius: 2rem 0rem 0rem 2rem;
    border: 0px solid transparent;
    background-color: #d7e60dc5;
    cursor: pointer;
}
.limpar{
    width: 6rem;
    height: 2rem;
    border-radius: 0rem 2rem 2rem 0rem;
    border: 0px solid transparent;
    background-color: #d7e60dc5;
    cursor: pointer;
}
.voltar{
    padding-top: 0rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: 4rem;
    width: 4rem;
    height: 4rem;
    background-color: red;
}